<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guyuan.manager.dao.UserMapper">

<!--    <resultMap id="UserResultMap" type="com.guyuan.manager.dao.po.UserPO">-->
<!--        <id column="user_id" property="userId" />-->
<!--        <result column="user_name" property="userName" />-->
<!--        <result column="id_card" property="idCard"/>-->
<!--        <result column="student_id" property="studentId"/>-->
<!--        <result column="current_status" property="currentStatus"/>-->
<!--        <result column="entry_time" property="entryTime"/>-->
<!--        <result column="like_count" property="likeCount"/>-->
<!--        <result column="create_by" property="createBy"/>-->
<!--        <result column="create_time" property="createTime"/>-->
<!--        <result column="update_by" property="updateBy"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
<!--    </resultMap>-->

    <update id="deleteMember">
        update member
        set is_deleted = 1, update_by = #{userId}
        where user_id = #{memberId}
              and team_id = #{teamId}
    </update>

    <update id="deleteUserPosition">
        update user_position
        set is_deleted = 1, update_by = #{userId}
        where user_id = #{memberId}
              and team_id = #{teamId}
    </update>

    <update id="deleteMemberTeam">
        update member
        set is_deleted = 1, update_by = #{operatorId}
        where user_id = #{userId}
    </update>

    <insert id="addMember">
        insert into member (user_id,team_id)
        values (#{userId},#{teamId})
    </insert>

    <insert id="addUser" parameterType="com.guyuan.manager.dao.po.UserPO">
        insert into user (user_id, phone
            <if test="idCard!= null">,id_card</if>
            <if test="studentId!= null">,student_id</if>
            <if test="currentStatus!= null">,current_status</if>
            <if test="entryTime!= null">,entry_time</if>
            <if test="createBy != null">,create_by</if>
            <if test="updateBy != null">,update_by</if>
            <if test="userName    != null">,user_name</if>
            <if test="gender   != null">,gender</if>
            <if test="email    != null">,email</if>
            <if test="grade    != null">,grade</if>
            <if test="major    != null">,major</if>
            <if test="experience!= null">,experience</if>)
        values (#{userId}, #{phone}
               <if test="idCard!= null">,#{idCard}</if>
               <if test="studentId!= null">,#{studentId}</if>
               <if test="currentStatus!= null">,#{currentStatus}</if>
               <if test="entryTime!= null">,#{entryTime}</if>
               <if test="createBy != null">,#{createBy}</if>
               <if test="updateBy != null">,#{updateBy}</if>
               <if test="userName    != null">,#{userName}</if>
               <if test="gender   != null">,#{gender}</if>
               <if test="email    != null">,#{email}</if>
               <if test="grade    != null">,#{grade}</if>
               <if test="major    != null">,#{major}</if>
               <if test="experience!= null">,#{experience}</if>)
    </insert>

    <insert id="addMemberTeam">
        insert into member (user_id,team_id,create_by,update_by) values
        <foreach collection="teamIds" item="teamId" separator=",">
            (#{userId},#{teamId},#{operatorId},#{operatorId})
        </foreach>
    </insert>

    <select id="getMemberByPhone" resultType="com.guyuan.manager.dao.po.UserPO">
        SELECT id,user_id,user_name,id_card,student_id,current_status,
                entry_time,like_count,create_by,create_time,update_by,
                update_time ,phone,gender,email,grade,major,experience
        FROM user
        WHERE phone = #{phone}
              and is_deleted = 0
    </select>

    <update id="updateMemberInfo">
        update user
        <set>
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="phone!=null">phone = #{phone},</if>
            <if test="gender!=null">gender = #{gender},</if>
            <if test="idCard!=null">id_card = #{idCard},</if>
            <if test="major!=null">major = #{major},</if>
            <if test="grade!=null">grade = #{grade},</if>
            <if test="email!=null">email = #{email},</if>
            <if test="studentId!=null">student_id = #{studentId},</if>
            <if test="experience!=null">experience = #{experience},</if>
            <if test="currentStatus!=null">current_status = #{currentStatus},</if>
            <if test="entryTime!=null">entry_time = #{entryTime},</if>
            <if test="updateBy!=null">update_by = #{updateBy},</if>
        </set>
        where user_id=#{userId} and is_deleted = 0
    </update>

    <select id="listMemberByTeamId" resultType="com.guyuan.manager.dao.po.UserPO">
        select t1.id,t1.user_id,t1.user_name,t1.id_card,t1.student_id,t1.current_status,
                t1.entry_time,like_count,t1.create_by,t1.create_time,t1.update_by,
                t1.update_time,t1.phone,t1.gender,t1.email,t1.grade,t1.major,t1.experience
        from user as t1, member as t2
        where t1.user_id=t2.user_id
                and t2.team_id = #{teamId}
                and t1.id > #{lastId}
                and t1.is_deleted = 0
                and t2.is_deleted = 0
        order by t1.id
        limit #{limit}
    </select>

    <select id="getIdByUserId" resultType="java.lang.Long">
        select id from user where user_id = #{userId}
    </select>

    <update id="updateUserInfo" parameterType="com.guyuan.manager.dao.po.UserPO">
        update user
        <set>
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="gender!=null">gender = #{gender},</if>
            <if test="idCard!=null">id_card = #{idCard},</if>
            <if test="major!=null">major = #{major},</if>
            <if test="grade!=null">grade = #{grade},</if>
            <if test="email!=null">email = #{email},</if>
            <if test="studentId!=null">student_id = #{studentId},</if>
            <if test="experience!=null">experience = #{experience},</if>
            <if test="currentStatus!=null">current_status = #{currentStatus},</if>
        </set>
        where user_id=#{userId} and is_deleted = 0
    </update>

    <select id="getUserByUserId" resultType="com.guyuan.manager.dao.po.UserPO">
        SELECT id,user_id,user_name,id_card,student_id,current_status,
               entry_time,like_count,create_by,create_time,update_by,
               update_time ,phone,gender,email,grade,major,experience
        FROM user
        WHERE user_id = #{userId} and is_deleted = 0
    </select>

    <select id="getUserByPhone" resultType="com.guyuan.manager.dao.po.UserPO">
        SELECT user_id FROM user WHERE phone = #{phone}
    </select>

    <select id="getUserByName" resultType="com.guyuan.manager.dao.po.UserPO">
        select * from user where user_name = #{userName}
    </select>
</mapper>